.savedHeaderTitle {
    margin-top: 1rem;
}

.addCityForm{
    margin-top: 1em;
}

.addCityForm__inputFld {
    background-color: #dddddd;
    height: fit-content;
    border-radius: 0.65rem;
}
.addCityForm__addButton{
    margin-top: 0;
}